html,body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}
.city{
    margin: 40px 0px 10px 0px;
    height:70px;
    font-size: 30px;
    font-weight: bold;
    width: auto;
    padding: 0 2%;
}
option{
    align-items: center;
}
nav{
    width: 400px;
}
.item_bar{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 0px;
}
.item{
    padding: 4px 10px;
    font-size: 2.5vw;
    font-weight: bold;
    list-style: none;
    border: 1px solid black;
    cursor: pointer;
}
.show{
    margin: 1%;
    border: 1px solid black;
    width: 35vw;
    height: 20vw;
}
.hide{
    display: none;
}

/*temp*/
.temp{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.temp_today{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
}
.temp_icon{
    width: 50%;
    margin: 5% 7%;
    border: 1px solid black;
}
.temp_description{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.temp_description span:nth-child(1){
    font-size: 3vw;
}
.temp_description span:nth-child(2){
    font-size: 2vw;
}
.forecast{
    width: 100%;
    height: 38%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}
.forecast>div{
    width: 20%;
    height: 100%;
    border: 1px solid black;
}
/* rain */
.rain{
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chanceOfRain{
    display: block;
    font-size: 8vw;
}
/* aqi */
.aqi{
    display: flex;
    align-items: center;        
    flex-direction: row;                                                                                                                                                                                                                                                                                                                                                                                                     
}
.aqi_icon{
    width: 30%;
    height: 50%;
    border: 1px solid black;
    margin: 0% 13% 0 17%;
}
.aqi_data{
    font-size: 4.5vw; 
}


/*平板*/
@media (max-width:768px){
    .data{
        height: 100%;
        display: flex;
        flex-direction: row;
        }
    .city{
        margin: 0;
        width:100%;
        height:20%;
        font-size: 8vw;
        font-weight: bold;
        text-align: center;
    }
    .item_bar{ 
        display: none;
    }
    .show{
        margin: 0;
    }
    /*temp*/
    .temp{
        width: 100%;
        height: 100%;
    }
    .temp_today{
        width:100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
    }
    .temp_icon{ 
        width: 75%;
        height: 40%;
        margin: 20% 0%;
    }
    .temp_description span{
        text-align: center;
        margin: 10px;
    }
    .temp_description span:nth-child(1){
        font-size: 11vw;
    }
    .temp_description span:nth-child(2){
        font-size: 8vw;
    }
    .forecast{
        display: none;
    }
    /* rain */
    .rain{
        height: 100%;
    }
    /* aqi */
    .aqi{
        flex-direction: column-reverse;
        height: 100%;
    }
    .aqi_icon{
        width: 50%;
        height: 15%;
    } 
}
/*手機*/
@media screen and (max-width:480px){
    .city{
        font-size: 15vw;
    }
    /* temp */
    .temp_today{
        justify-content: space-around;
    }
    .temp_icon{
        margin: 65% 0 0 0;
        height: 30%;
    }
    .temp_description{
        margin-bottom: 50%;
    }
    .temp_description span:nth-child(1){
        font-size: 10vw;
    }
    .temp_description span:nth-child(2){
        font-size: 8vw;
    }
    /* aqi */
    .aqi_icon{
        width: 50%;
        height: 10%;
    } 
}