:root {
    --height: 0px;
  }
html,body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;　
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.city{
    margin: 40px 0px 10px 0px;
    height:70px;
    font-size: 30px;
    font-weight: bold;
    width: auto;
    padding: 0 2%;
}
option{
    align-items: center;
}
nav{
    width: 400px;
}
.item_bar{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 0px;
}
.item{
    padding: 4px 10px;
    font-size: 2.5vw;
    font-weight: bold;
    list-style: none;
    border: 1px solid black;
    cursor: pointer;
}
.show{
    margin: 1%;
    border: 1px solid black;
    width: 440px;
    height: 260px;
    background: linear-gradient(to right bottom,rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0));
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(1.5rem);
}
/*temp*/
.temp{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.temp_today{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
}
.temp_icon{
    width: 30%;
    margin: 3% 7%;
}
.temp_description{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.temp_description span:nth-child(1){
    font-size: 1.5vw;
}
.temp_description span:nth-child(2){
    font-size: 3vw;
}
.temp_description span:nth-child(3){
    font-size: 2vw;
}
.forecast{
    width: 100%;
    height: 38%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.forecast_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 18%;
    height: 100%;
    border: 1px solid black;
    border-radius: 1rem;
}
.forecast_date{
    font-weight: bold;
}
.forecast_icon{
    width:70%;
}
.forecast_T{
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}
/* rain */
.rain{
    display: flex;
    align-items: center;
    justify-content: center;
}
.rainEffect{
    background-image: url('../img/others/rain.png');
    background-size: cover;
    animation: rain 0.3s linear infinite;
}
.thunder{
    content: "";
    position: absolute;
    top: -30px;
    background-size: 350px 250px;
    width: 350px;
    height: 250px;
    transform: rotate(180deg);
    background-image: url('../img/others/thunder.png');
    opacity: 0.7;
    animation: thunder 4s linear infinite;
}
.chanceOfRain{
    display: block;
    font-size: 8vw;
}
/* aqi */
.aqi{
    display: flex;
    align-items: center;        
    flex-direction: row;      
}
.aqi_icon{
    width: 30%;
    height: 50%;
    margin: 0% 13% 0 17%;
    font-size: 100%;
    text-align: center;
}
.aqi_data{
    font-size: 4.5vw; 
}

section{
    border-radius: 2rem;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}
section .smoke{
    position:absolute;
    left: 0;
    width: 100%;
    background-image: url('../img/others/smoke.png');
    background-size: 1000px 100px;
}
section .smoke1{
    height:var(--height);
    opacity: 0.2;
    animation: animate 30s linear infinite;
    z-index: 1000;
    animation-delay: 0s;
    bottom: -40px;
}

section .smoke2{
    height:var(--height);
    opacity: 0.7;
    animation: animate2 45s linear infinite;
    z-index: 999;
    animation-delay: 5s;
    bottom: -30px;
}
section .smoke3{
    height:var(--height);
    opacity: 0.5;
    animation: animate 30s linear infinite;
    z-index: 997;
    animation-delay: -2s;
    bottom: 0px;
}
section .smoke4{
    height:var(--height);
    opacity: 0.8;
    animation: animate2 40s linear infinite;
    z-index: 998;
    animation-delay: -2s;
    bottom: 30px;
}
section .smoke5{
    height:var(--height);
    opacity: 0.7;
    animation: animate 25s linear infinite;
    z-index: 996;
    animation-delay: -2s;
    bottom: 10px;
}

@keyframes animate{
    0%{
        background-position-x:0px ;
    }
    100%{
        background-position-x: 1000px;
    }
}
@keyframes animate2{
    0%{
        background-position-x:1000px ;
    }
    100%{
        background-position-x: 0px;
    }
}
@keyframes rain{
    0%{
        background-position:20% 100%;
    }
    100%{
        background-position:0% 0%;
    }
}
@keyframes thunder{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    21%{
        opacity: 0.5;
    }
    25%{
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    31%{
        opacity: 0.5;
    }
    35%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}


/*平板*/
@media (max-width:768px){
    .data{
        height: 100%;
        display: flex;
        flex-direction: row;
        }
    .city{
        margin: 0;
        width:100%;
        height:20%;
        font-size: 8vw;
        font-weight: bold;
        text-align: center;
    }
    .item_bar{ 
        display: none;
    }
    .show{
        width: auto;
        margin: 0;
    }
    /*temp*/
    .temp{
        width: 100%;
        height: 100%;
    }
    .temp_today{
        width:100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
    }
    .temp_icon{ 
        width: 75%;
        height: 40%;
        margin: 20% 0%;
    }
    .temp_description span{
        text-align: center;
        margin: 10px;
    }
    .temp_description span:nth-child(1){
        font-size: 11vw;
    }
    .temp_description span:nth-child(2){
        font-size: 10vw;
    }
    .temp_description span:nth-child(3){
        font-size: 7vw;
    }
    .forecast{
        display: none;
    }
    /* rain */
    .rain{
        height: 100%;
    }
    .chanceOfRain{
        margin: 5px;
    }
    .thunder{
        width: 100%;
        height: 100%;
    }
    /* aqi */
    .aqi{
        justify-content: center;
        flex-direction: column-reverse;
        height: 100%;
    }
    section{
        display: none;
    }
    .aqi_data{
        margin: 30px;
        font-size: 8vw;
    }
    .aqi_icon{
        width: 100%;
        height: 15%;
    } 
    @keyframes rain{
        0%{
            background-position:0% 20%;
        }
        100%{
            background-position:2% 0%;
        }
    }
}
/*手機*/
@media screen and (max-width:480px){
    .city{
        font-size: 15vw;
    }
    /* temp */
    .temp_today{
        justify-content: space-around;
    }
    .temp_icon{
        margin: 60% 0 0 0;
        height: 30%;
    }
    .temp_description{
        margin-bottom: 50%;
    }
    .temp_description span:nth-child(1){
        font-size: 10vw;
    }
    .temp_description span:nth-child(2){
        font-size: 8vw;
    }
    /* aqi */
    .aqi_data{
        margin: 20px;
        font-size: 8vw;
    }
    .aqi_icon{
        width: 90%;
        height: 10%;
    } 
}